<!-- sidebar.html -->
<div id="sidebar" class="sidebar">
    <a href="/" class="{{ 'active' if request.path == '/' else '' }}"><i class="fas fa-house"></i> <span class="link-text">Home</span></a>
    <a href="/upload_image" class="{{ 'active' if request.path == '/upload_image' else '' }}"><i class="fas fa-arrow-up-from-bracket"></i> <span class="link-text">Upload Image</span></a>
    <a href="/upload_video" class="{{ 'active' if request.path == '/upload_video' else '' }}"><i class="fas fa-video"></i> <span class="link-text">Upload Video</span></a>
    <a href="/use_webcam" class="{{ 'active' if request.path == '/use_webcam' else '' }}"><i class="fas fa-camera"></i> <span class="link-text">Use Webcam</span></a>
    <a href="/livefeed" class="{{ 'active' if request.path == '/livefeed' else '' }}"><i class="fas fa-satellite-dish"></i> <span class="link-text">Livefeed</span></a>
</div>